alembic==1.0.7
asn1crypto==0.24.0
attrs==18.2.0
autoenv==1.0.0
Automat==0.7.0
blinker==1.4
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.4.1
configobj==5.0.6
constantly==15.1.0
cryptography==2.5
Flask==1.0.2
Flask-Migrate==2.3.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
httplib2==0.12.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
itsdangerous==1.1.0
Jinja2>=2.10.1
jsonpatch==1.23
jsonpointer==2.0
jsonschema==2.6.0
Mako==1.0.7
MarkupSafe==1.1.0
mod-wsgi==4.6.5
netifaces==0.10.9
oauthlib==3.0.1
pam==0.1.4
psycopg2==2.7.7
psycopg2-binary==2.7.7
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycairo==1.18.0
pycparser==2.19
PyGObject==3.30.4
PyHamcrest==1.9.0
PyJWT==1.7.1
pyOpenSSL==19.0.0
pyserial==3.4
python-dateutil==2.7.5
python-debian==0.1.34
python-dotenv==0.10.1
python-editor==1.0.3
PyYAML>=4.2b1
requests==2.21.0
requests-unixsocket==0.1.5
service-identity==18.1.0
six==1.12.0
SQLAlchemy==1.2.17
systemd-python==234
Twisted==18.9.0
urllib3==1.24.1
Werkzeug==0.14.1
zope.interface==4.6.0
