<!DOCTYPE html>
<html>
	<head>
		<title>Pastebin Scraper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<body>
					<h1>Pastebin Scraper</h1>
					<br>
					<form role="form" method="POST" action="/">
						<div class="form-group">
							<b>Search for a project</b>
							<input type="text" name="searchProject" class="form-control" id="searchProject-box" placeholder="Enter project name" style="max-width: 300px;">
						</div>
						<b>Other search options</b>
						<br>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="otherSearchRadio" id="listProject-box" value="listProject" checked>
							<label class="form-check-label" for="listProject-box">
								List Projects
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="otherSearchRadio" id="listCrossKw-box" value="listCrossKw">
							<label class="form-check-label" for="listCrossKw-box">
								List Cross Project Keywords
							</label>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
					<br>
					{% if messages %}
						{% for message in messages %}
							{% autoescape false %}
								<h4>{{ message }}</h4>
							{% endautoescape %}
						{% endfor %}
					{% endif %}
					<br>
					<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#deleteCollapse" aria-expanded="false" aria-controls="deleteCollapse">Change project status</button>
					<div class="collapse" id="deleteCollapse">
						<div class="card card-body">
							<form role="form" method="POST" action="/">
								<div class="form-group">
									<br>
									<b>Project Name</b>
									<br>
									<input type="text" name="delProjName" class="form-control" id="delProjName-box" placeholder="Enter project name" style="max-width: 300px;">
									<br>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="delRemRadio" id="deleteProject-box" value="delete">
										<label class="form-check-label" for="deleteProject-box">
											Remove (delete from database)
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="delRemRadio" id="deactivateProject-box" value="deactivate">
										<label class="form-check-label" for="deactivateProject-box">
											Deactivate (project won't be updated)
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="delRemRadio" id="reactivateProject-box" value="reactivate" checked>
										<label class="form-check-label" for="reactivateProject-box">
											Reactivate (resume updating project)
										</label>
									</div>
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
					<br><br>
					<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#outputCollapse" aria-expanded="false" aria-controls="outputCollapse">Output project data</button>
					<div class="collapse" id="outputCollapse">
						<div class="card card-body">
							<form role="form" method="POST" action="/">
								<div class="form-group">
									<label for="outputProject">Project name</label>
									<input type="text" name="outputProject" class="form-control" id="outputProject-box" placeholder="Enter project name" style="max-width: 300px;">
								</div>
								<b>Output types</b>
								<div class="form-group">
										<div class="form-check">
											<input type="checkbox" class="form-check-input" id="csv" name="csv">
											<label class="form-check-label" for="csv">CSV</label>
										</div>
										<div class="form-check">
											<input type="checkbox" class="form-check-input" id="json" name="json">
											<label class="form-check-label" for="json">JSON</label>
										</div>
								</div>
								<div class="form-group">
									<label for="outputDir">Output Directory</label>
									<input type="text" name="outputDir" class="form-control" id="outputDir-box" placeholder="Enter output directory" style="max-width: 300px;">
									<b>NOTE:</b>
									<br>
									If 'env' setting in the [flask] section of config.ini is set to 'prod', outputs will only be created in /var/www/pastebin-scraper/outputs/project_name
									<br>
									Defaults to pastebin-scraper/outputs/project_name if 'env' is set to 'dev'
									<br>
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
					<br><br>
					<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#createCollapse" aria-expanded="false" aria-controls="createCollapse">Add a new project to the database</button>
					<div class="collapse" id="createCollapse">
						<div class="card card-body">
							<form role="form" method="POST" action="/">
								<div class="form-group">
									<label for="createProject">Project name</label>
									<input type="text" name="createProject" class="form-control" id="createProject-box" placeholder="Enter project name" style="max-width: 300px;">
								</div>
								<div class="form-group">
									<label for="keywords">Keywords</label>
									<br>
									<b>These keywords should be project specific</b>
									<br>
									e.g www.client.com, @client.com, client name, etc.
									<br>
									<b>Keywords should be seperated by commas</b>
									<br>
									e.g. word, test words
									<br>
									<b>Append (e) to a keyword for exact matches</b>
									<br>
									e.g. login(e) will match 'login' or 'LOGIN' but not 'autologin'
									<br>
									<input type="text" name="keywords" class="form-control" id="keywords-box" placeholder="Enter keywords seperated by commas" style="max-width: 300px;">
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
					<br><br>
					<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#updateCollapse" aria-expanded="false" aria-controls="updateCollapse">Update an existing project</button>
					<div class="collapse" id="updateCollapse">
						<div class="card card-body">
							<form role="form" method="POST" action="/">
									<div class="form-group">
										<label for="updateProject">Project name</label>
										<input type="text" name="updateProject" class="form-control" id="updateProject-box" placeholder="Enter project name" style="max-width: 300px;">
										<br>
										<div class="form-check">
											<label for="addKeywords">Add Keywords</label>
											<br>
											<input type="text" name="addKeywords" class="form-control" id="addKeywords-box" placeholder="Enter keywords to be added to project" style="max-width: 300px;">
										</div>
										<br>
										<div class="form-check">
											<label for="removeKeywords">Remove Keywords</label>
											<br>
											Search for a project above to view it's keywords
											<br>
											<input type="text" name="removeKeywords" class="form-control" id="removeKeywords-box" placeholder="Enter keywords to be removed from project" style="max-width: 300px;">
											</div>
										</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
					<br><br>
					<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#addCrossProjectCollapse" aria-expanded="false" aria-controls="addCrossProjectCollapse">Add cross project keywords</button>
					<div class="collapse" id="addCrossProjectCollapse">
						<div class="card card-body">
							<form role="form" method="POST" action="/">
								<div class="form-group">
									<label for="addCrossProjectKeywords">Cross project Keywords</label>
									<br>
									Cross project keywords are words that are used across all projects. If a paste is discovered containing a project specific keyword, cross project keywords will then be searched for in that paste. These should be words like username, password, ssh, etc.
									<br>
									<b>Keywords should be seperated by commas</b>
									<br>
									e.g. word, test words
									<br>
									<b>Append (e) to a keyword for exact matches</b>
									<br>
									e.g. login(e) will match 'login' or 'LOGIN' but not 'autologin'
									<br>
									<input type="text" name="addCrossProjectKeywords" class="form-control" id="addCrossProjectKeywords-box" placeholder="Enter keywords seperated by commas" style="max-width: 300px;">
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
					<br><br>
					<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#removeCrossProjectCollapse" aria-expanded="false" aria-controls="removeCrossProjectCollapse">Remove cross project keywords</button>
					<div class="collapse" id="removeCrossProjectCollapse">
						<div class="card card-body">
							<form role="form" method="POST" action="/">
								<div class="form-group">
									<label for="removeCrossProjectKeywords">Cross project Keywords</label>
									<br>
									<b>Keywords should be seperated by commas</b>
									<br>
									e.g. word, test words
									<br>
									<input type="text" name="removeCrossProjectKeywords" class="form-control" id="removeCrossProjectKeywords-box" placeholder="Enter keywords seperated by commas" style="max-width: 300px;">
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
				</body>
			</div>
			{% if results %}
				<div class="col-sm-8">
					{% if results.0 == "listProj" %}
						{% autoescape false %}
							<h3>{{ results.1 }}</h3>
							{% for active in results.2 %}
								<h5>{{ active }}</h5>
							{% endfor %}
							{% for inactive in results.3 %}
								<h5>{{ inactive }}</h5>
							{% endfor %}
						{% endautoescape %}
					{% elif results.0 == 'listKw' %}
						{% autoescape false %}
							<h3>{{ results.1 }}</h3>
							{% for crossKw in results.2 %}
								<h5>{{ crossKw }}</h5>
							{% endfor %}
						{% endautoescape %}
					{% else %}
						<h2>{{ results.0 }}</h2>
						<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#showkwCollapse" aria-expanded="false" aria-controls="showkwCollapse">View {{ results.0 }} keywords</button>
						<div class="collapse" id="showkwCollapse">
							<div class="card card-body">
								{%- for keyword in results.1 -%}
									{{ keyword }}
									{%- if not loop.last -%}
										{{ ", " }}
									{%- endif -%}
								{%- endfor -%}
							</div>
						</div>
						{% if results.2 %}
							{% if not results.3 %}
								<h3>Project {{ results.0 }} currently set to inactive</h3>
							{% endif %}
							<table class="table table-hover">
								<thead>
									<tr>
										<th>URL</th>
										<th>Keywords</th>
									</tr>
								</thead>
								<tbody>
									{% for result_dict in results.2 %}
										<tr>
											{% for key, value in result_dict.items() %}
												{% if key == "found" %}
													<td>
														{%- for found_keyword in value -%}
															{{ found_keyword }}
															{%- if not loop.last -%}
																{{ ", " }}
															{%- endif -%}
														{%- endfor -%}
													</td>
												{% else %}
													<td>{{ value }}</td>
												{% endif %}
											{% endfor %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% else %}
							{% if results.3 %}
								<h3>No pastes currently discovered for project {{ results.0 }}</h3>
							{% else %}
								<h3>No pastes currently discovered for project {{ results.0 }}</h3>
								<h3>Project {{ results.0 }} currently set to inactive</h3>
							{% endif %}
						{% endif %}
					{% endif %}
				</div>
			{% endif %}
		</div>
	</div>
	<br><br>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>